/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
* {
    box-sizing: border-box
}



.mat-icon {
   
    color: #1c1c96 !important;
}

.mat-accordion .mat-expansion-panel:last-of-type { 
    margin-top : 4px;
}